
{% extends "layout.html" %}
{% block body %}
<form action="{{url_for('login')}}" method="POST">
	<div class="login">
		<div class="login-screen">
			
			<div class="app-title">
				<h1>Login</h1>
			</div>
 
			<div class="login-form">
				<div class="control-group">
				<input type="text" value="" placeholder="username" name="username">
				<label  for="login-name"></label>
				</div>
 
				<div class="control-group">
				<input type="password" value="" placeholder="password" name="password">
				<label for="login-pass"></label>
				</div>
 
                <input type="submit" value="Log in" class="btn" >
			    <br>
			    {% if error %}
				<p style="color:red" "text-align: center;">{{ error }}</p>
				{% endif %}
			    Don't have an account?<a href="{{url_for('register')}}"> Signup here</a>
			</div>
		</div>
	</div>
</form>

{% endblock %}